aiohttp
aiosignal
async-timeout
attrs
blinker
certifi
charset-normalizer
click
colorama
debugpy
flask
flask-login
flask-mail
frozenlist
idna
importlib-metadata
itsdangerous
jedi
jinja2
markupsafe
multidict
parso
pluggy
python-lsp-jsonrpc
python-lsp-server
requests
typing-extensions
ujson
urllib3
werkzeug
yarl
zipp