<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Anime Ma</title>
    <link rel="stylesheet" href="../static/light-desk.css" id="trans">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo">Anime Ma</div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <br>
    <br>
    <div align="center" class="alert err-rem" role="alert">
      
      <div class="error-card", align="center">
        <div class="error-card-header error" align="center">
          <span class="material-icons error">highlight_off</span>
        </div>
        <div class="error-card-main">
          <div class="error-main-description">{{message}}</div>
        </div>
      </div>
    </div>
    {% else %}
    <br>
    <br>
    <div align="center" class="alert succ-rem" role="alert">
      
      <div class="success-card", align="center">
        <div class="success-card-header" align="center">
          <span class="material-icons success">done_outline</span>
        </div>
        <div class="success-card-main">
          <div class="success-main-description">{{message}}</div>
        </div>
      </div>
    </div>
    
    {% endif %}{% endfor %}{% endif %}{% endwith %}
    <br><br>
    <div class="main">
      <form action="/" method='GET' align="center">
        <input type="text" name="query" id="query" placeholder="Search Anime or Manga" required>
        <br><br>
        <div class="radios">
          <input type="radio" name="type" value="manga" id="manga" required>
          <label for="manga">Manga</label>
          &Uscr;
          <input type="radio" name="type" value="anime" id="anime" required>
          <label for="anime">Anime</label>
        </div>
        <br>
        <br>
        <div class="subbtn" align="center">
          <button type="submit" id="searchB">Search</button>
        </div>
      </form>
      <br><br>
    </div>
    {% if query %}
    <h3 align="center">Results For {{query}}</h3>
    {% else %}
    <h3 align="center"></h3>
    {% endif %}
    
    {% for result in results %}
    <div class="results" align="center">
      <img src="{{result['img']}}">
      <h5>{{result['title']}}</h5>
      <table>
      {% for key, value in result['about'].items() %}
      <tr>
        <td>{{(key.capitalize()).replace('_', ' ')}}</td>
        <td>{{value}}</td>
      </tr>
      {% endfor %}
      </table>
      <p>
        {{result['description']}}
      </p>
    </div>
    <br><br>
    {% endfor %}
    <br>
    <br>
    <i id="gotop">&#8593;</i>
    <hr>
    <footer>
      <div class="foot-menu" align="center">
        <p>
          Copyright &copy;<a href="//github.com/AuraMoon55" target="_blank"> Aura Moon
          </a>
        </p>
      </div>
      <script src="../static/script.js"></script>
    </footer>
  </body>

</html>
