<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Anime Ma</title>
    <link rel="stylesheet" href="../static/light.css" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <script src="../static/script.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo">Anime Ma</div>
      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/anime">Animes</a></li>
          <li><a href="/genre">Genres</a></li>
          <li><a href="/contact">Contact Us</a></li>
<!--
          <li class="genres">
            Genres
            <ul class="dropdown">
              <li><a href="/genre/action">Action</a></li>
              <li><a href="/genre/adventure">Adventure</a></li>
            </ul>
          </li>
 -->
        
        </div>
      </ul>
    </nav>
    {% with messages = get_flashed_messages(with_category=True) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <br>
    <br>
    <div align="center" class="alert" role="alert">
      <button type="button" class="error-close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="error-card", align="center">
        <div class="error-card-header error" align="center">
          <span class="material-icons error">highlight_off</span>
        </div>
        <div class="error-card-main">
          <div class="error-main-description">{{message}}</div>
        </div>
      </div>
    </div>
    {% else %}
    <br>
    <br>
    <div align="center" class="alert" role="alert">
      <button type="button" class="success-close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="success-card", align="center">
        <div class="success-card-header" align="center">
          <span class="material-icons success">highlight_off</span>
        </div>
        <div class="success-card-main">
          <div class="success-main-description">{{message}}</div>
        </div>
      </div>
    </div>
    
    {% endif %}{% endfor %}{% endif %}{% endwith %}
    
    {% block content %}{% endblock %}


    <hr>
    <footer>
      <div class="foot-menu" align="center">
        <a href="https//t.me/Horni_Senpaii", target="_blank">
          <span>
            <i class="fab fa-telegram">
            </i>
          </span>
        </a>
        <p>
          Copyright &copy; Aura Moon
        </p>
      </div>
    </footer>
  </body>

</html>
