<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>Anime Ma</title>
    <link rel="stylesheet" href="../static/light.css" >
    <script src="../static/script.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo">Anime Ma</div>
      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/anime">Animes</a></li>
          <li><a href="/genre">Genres</a></li>
          <li><a href="/contact">Contact Us</a></li>
<!--
          <li class="genres">
            Genres
            <ul class="dropdown">
              <li><a href="/genre/action">Action</a></li>
              <li><a href="/genre/adventure">Adventure</a></li>
            </ul>
          </li>
 -->
        
        </div>
      </ul>
    </nav>


    <hr>
    <footer>
      <div class="foot-menu" align="center">
        <a href="https//t.me/Horni_Senpaii", target="_blank">
          <span>
            <i class="fab fa-telegram">
            </i>
          </span>
        </a>
        <p>
          Copyright &copy; Aura Moon
        </p>
      </div>
    </footer>
  </body>

</html>
